/* Fonts */
@font-face {
    font-family: gotham-light;
    src: url(./fonts/GothamSSm-Light_Web.otf);
  }
  
  @font-face {
    font-family: gotham-med;
    src: url(./fonts/GothamSSm-Medium_Web.otf);
  }
  
  @font-face {
    font-family: gotham-bold;
    src: url(./fonts/GothamSSm-Bold_Web.otf);
  }
  
  @font-face {
    font-family: gotham-xlight;
    src: url(./fonts/GothamSSm-XLight_Web.otf);
  }
  
  @font-face {
    font-family: gotham-book;
    src: url(./fonts/GothamSSm-Book_Web.otf);
  }
  

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: gotham-med,sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.page-1{
    background: url(./img/Model-3-Main-Hero-Desktop-LHD-p1.jpg) no-repeat center center/cover;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-content: center;

}


/* <-------- navbar---------> */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 32px ;
}
svg{
    height: 24px;
    width: 120px;
    color: #fff;
    
} 

.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.navbar ol{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover{
    background-color: rgb(57, 60, 65);
    padding: 5px;
    color: #fff;
}


/* <!--------side navbar---------> */
.aside-nav .container{
    display: flex;
    flex-direction: column;
    top: 50px;
}
.aside-nav{
    z-index: 2;
    justify-content: center;
    align-content: center;
    color: rgb(57, 60, 65);
    font-size: 20px;
    position: fixed;
    list-style-type: none;
    margin: 2px;
    left: 15px;
    top:150px
}


.aside-nav li.current{
    color: rgb(255, 255, 255);
    font-size:25px;
    left: 20px;
    width: 20%;
    height: 40%;
}

.aside-nav li:hover{
    color: #171a20;
    font-size: 25px;
}


/* <!--------top title---------> */

.box-title{
    color: rgb(255, 255, 255);
    top: px;
    position: relative; 
    display: flex;
    flex-direction: column;
}

.title-bg1{
    font-family: gotham-med;
    list-style-type: none;
    position: relative;
    color: rgb(57, 60, 65);
    font-size: 20px;
    /* line-height: 25px; */
    top: 90px;
    right: -410px;
    font-weight: 400;
}

h1{
    color: #fff;
    font-size: 40px;
    font-weight: 500px;
    line-height: 48px;
}

.title-bg1 a{
    font-size: 14px;
    color: #fff;

}
/****************** box-bg1 *****************/
    .box-bg1{
    display: flex;
    flex-direction: row;
    color: #fff;
    box-sizing: border-box;
    /* margin: 450px auto; */
    margin-top: 515px ;
    
    
}

.box-bg1 .box-container{
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    bottom: 80px;
    right: 80px;

    }


    .box-bg1 .box-container h1{
        font-size: 28px;
    }

    .box-bg1 .box-container h1 strong{
        font-size: 24px;
    }
    .box-bg1 .box-container .box-bottom{
        font-size: 12px;
        padding: 8px 0 0;

    }

    .box-bg1 .box-container a{
        text-decoration: none;
        font-size: 14px;
        margin: 0px 0px 0px 8px;
        padding: 4px 24px;
        height: 40px;
        width: 204px;
        text-align: center;
        box-sizing: border-box;
        border: 5px solid #fff;
        border-radius: 5px;
        font-weight: 500;
        block-size: 40px;

    }

    .box-bg1 .box-container a:hover{
        color: initial;
        background-color: #fff;
    }


        .box-bg1 .box-container .box-top{
            display: flex;
            flex-direction: row;
            padding: 10px 0px;
            padding-bottom: 1px;
        }
    
        .box-bg1 .box-container .box-bottom{
            padding-top: 0;
            text-align: center;
        }
        .box-bg1 .box-container h1{
            font-size: 28px;
        }
        
        .spedo-p{
            position: relative;
            right: 25px;
    
    }   
    .speedometer {
        position: relative;
        display: block;
        left:-55px;
        bottom: -14px
    }
    
    .speedometer-outer-circle {
        position: absolute;
        left: 8px;
        top: 0;
        width: 40px;
        height: 21px;
    }
    
    .speedometer-inner-circle {
        position: absolute;
        left: 6.5px;
        top: 2.6px;
        width: 30px;
        height: 15px;
        opacity: 0.45;
    }
    
    .speedometer-needle {
        position: absolute;
        left: 32px;
        top: 12px;
        width: 4px;
        height: 16px;
        rotate: 90deg;
    }
    
    .spedo-h1{
        position: relative;
        right: -20px;
    }
/****************** icon-message *****************/
.icon-message{
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 28px;
    top: 462px;
    float: right;
    box-shadow: 1px 1px 5px 5px  rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 2;
}


.icon-con{
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    margin: 15px auto auto 15px;
    height: 32px;
    
}


/* ******************** scroll  ************************** */
.scroll {
    align-items: center;
    color: #fff;

    font-family: Montserrat, serif;
    position: fixed;
    bottom: 0;
    right: 50%;

}

.scroll .f-page{
    color: rgb(238, 238, 238);
}

.scroll__icon {
    font-size: 40px;
    animation: down 2s infinite;
    transform: translateY(-10px);
}

@keyframes down{

    0%{
        transform: translateY(-10px);
    }

    20%{
        transform: translateY(0);
    }
}

            /* ***************************************************************** */
            /* ***************************************************************** */
            /* **************************** page 2 ***************************** */
            /* ***************************************************************** */ 
            /* ***************************************************************** */

.page-2{
    height: 100vh;

}

.bg2-container{
    display: flex;
}


/* ******************** img  ************************** */
.bg2-left-side img{
    position: relative;
    left: 10px;
    /* float: left; */
    margin-top: 0px;
    /* margin-left: 40px; */
    padding: 30px;
    height: 523px;
    width: 837.33px;
}

/* ******************** paragraphs page-2  ************************** */

.bg2-right-side{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #171a20;    
    width: 416px;
    height: 100%;
    position: relative;
    padding: 32px 20px;
    right: 0px;
    top: 30px;
}

.bg2-right-side h1 strong{
    font-size: 28px;
    color: #171a20;
    /* line-height: 10px; */
}

.bg2-right-side p .safty{
    font-size: 17px;
}

.bg2-right-side p a{
    color: #171a20;
}

/* ******************** buttons page-2   ************************** */


.buttons-bg2{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    right: 0;
    top: 70px;
    width: 100%;
    height: 40px;
}

.buttons-bg2 .learn-more-plus{
    display: flex;
    flex-direction: row;

}

.plus-button{
    position:relative;
background: url(./img/1828926\(1\).png) no-repeat center center/cover;
box-sizing: border-box;
border: 2px solid #171a20;
border-radius: 50%;
height: 100%;
width: 100%;
padding: 20px;
left: 0px;
}

.plus-button:hover{
    background: url(./img/1828919.png) no-repeat center center/cover;
    height: 100%;
    width: 100%;

}

.learn-more{
    font-size: 14px;
    padding: auto;
    margin: auto;
    position: relative;
    right: -10px;
    /* padding-top: 5px; */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.buy-now-bg2{
    box-sizing: border-box;
    border: 3px solid #171a20;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    height: 40px;
    width: 204px;
    right: 0;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color:#171a20;
}

.buy-now-bg2:hover{
    background-color: #171a20;
    color: #fff;
}


/* ***************************************************************** */
/* ***************************************************************** */
/* **************************** page 3 ***************************** */
/* ***************************************************************** */ 
/* ***************************************************************** */


.page-3-top-half{
    background: url(./img/Model-3-Performance-Hero-Desktop-LHD-bg3.jpg) no-repeat center center/cover;
    height: 80vh;

    justify-content: space-between;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-content: center;
    position: relative;
    /* top: 10px; */
}

/* <!-- ************************************ page 3 Top  ************************************--> */
.box-p3{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 154px;
    width: 1280px;

    margin: 350px auto;
    color: #fff;
}

.box-p3 .box-p3-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 64px;
}
.first-box-p3,
.sec-box-p3,
.thrd-box-p3{
    height: 90px;
    width: 272px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    left: 30%;

}
.box-p3 .box-p3-container h1{
    font-size: 28px;

}

.box-p3 .box-p3-container h1 strong{
    font-size: 24px;
    }

.box-p3 .box-p3-container .box-bottom-p3{
        font-size: 12px;
        padding: 8px 0 0;
    }

    .box-top-p3{
        /* background-color: yellowgreen; */
        /* padding-left: 40px; */
        display: flex;
        flex-direction: row;
        text-align: center;
        position: relative;
        left: 80px;
    }


    .speedometer .spedo-p3{
        position: relative;
    }

    

    /* <!-- ************************************ page 3 bottom  ************************************--> */

    
    section .page-3-bottom{
        height: 60vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin: auto;
        justify-content: center;
        align-content: center;
    }



.page-3-bottom .p3-left-side .buttons-bg2 .buy-now-bg2 .p3{
    position:absolute;
    /* left: 100px; */
    height: 156px;
    width: 378px;
}

section .p3-left-side{
    float: left;
    height: 165px;
    width: 550px;
    padding: 40px 10px 20px 180px;
}

section .p3-right-side{
    float: right;
    height: 165px;
    width: 550px;
    font-size: 14px;
    font-weight: 400;
    color: #171a20;
    padding-right: 20px;
    position: relative;
    top: 48px;
    right: 130px;
}

section .p3-right-side a{
    color: #171a20;
}

.p3-left-top{
    height: 24.03px;
    width: 314.08px;
}
.p3-left-side .p3-left-top .Performance{
    font-size: 17px;
    color: #171a20;

}

.p3-left-side .p3-left-top h1{
    font-size: 27px;
    color: #171a20;
}

.page-3-bottom .buttons-bg2{
    width: 100%;

}




#navbar-p3{
    background-color: #fff;
    position: absolute;
}